// TODO change colors of the project
$link-color: #0067b8
$border-color-light: #e0e0e0
$border-color-dark: rgba(255, 255, 255, .3)
$bg-color-light: #FFF
$bg-color-dark: #202124
$text-color-light: $bg-color-dark
$text-color-dark: $bg-color-light
$text-color-gradient: linear-gradient(45deg, hsla(319, 82%, 52%, 1) 0%, hsla(0, 94%, 52%, 1) 100%)
$height-calendar-title: 40px
$authentication-error-bg: #6a0000