@import nullstyle

$border-color-light: #e0e0e0
$border-color-dark: rgba(255, 255, 255, .3)
$bg-color-light: #FFF
$bg-color-dark: #202124
$gradient-color: linear-gradient(45deg, hsla(319, 82%, 52%, 1) 0%, hsla(0, 94%, 52%, 1) 100%)

body
  flex: 1 0 2000px
  position: relative

::-webkit-scrollbar
    display: none

#root, .wrapper
  height: 100%
  width: 100%

.wrapper
  // display: grid
  // grid-template-rows: 61px 1fr
  position: relative
  transition: 0.15s
  &.dark
    background: $bg-color-dark
  &.light
    background: $bg-color-light

header
  transition: 0.15s
  min-height: 50px
  border-bottom: 1px solid
  &.dark
    border-bottom-color: $border-color-dark
  &.light
    border-bottom-color: $border-color-light

main
  transition: 0.15s
  &.dark
    background: $bg-color-dark
  &.light
    background: $bg-color-light

.theme-image
  object-fit: fill
  &.dark
    width: 32px
    height: 32px
  &.light
    width: 40px
    height: 40px

.avatar
  border-radius: 50%
  &.dark
    color: #FFF

.notes-container
  display: grid
  padding: 15px
  max-width: 1200px
  margin: 0 auto
  grid-template-columns: repeat(4, 1fr)
  gap: 15px
  margin-bottom: 100px
  @media (max-width: 1920px)
    grid-template-columns: repeat(3, 1fr)
  @media (max-width: 1024px)
    grid-template-columns: repeat(2, 1fr)
  @media (max-width: 768px)
    grid-template-columns: repeat(1, 1fr)
  &__text
    position: absolute
    font-size: 1.875rem
    line-height: 2.25rem
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    &.dark
      color: white
    &.light
      color: black


.note
  font-family: system-ui, sans-serif
  border-radius: 10px
  color: white
  padding: 8px 10px
  overflow: hidden
  transition: 0.15s
  &__title
    font-weight: bold
    font-size: 20px
    line-height: 1.2
    height: 24px
    width: 100%
    white-space: nowrap
    overflow: hidden
    display: inline-block
    text-overflow: ellipsis
  &__description
    font-size: 16px
    width: 100%
    height: 20px
    white-space: nowrap
    overflow: hidden
    display: inline-block
    text-overflow: ellipsis
    flex: 1 0 100%
  &__expiresAt
    font-size: 16px
    margin-bottom: 5px
    font-weight: 700
    background: $gradient-color
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &:hover
    cursor: pointer
  &.dark
    border: 1px solid $border-color-dark
    & > .note__title
      color: white
    & > .note__description
      color: white
    &:hover
      background: #323438
  &.light
    border: 1px solid $border-color-light
    & > .note__title
      color: #2B323B
    & > .note__description
      color: #2B323B
    &:hover
      box-shadow: 0 0 10px rgba(0,0,0,.15)

.add-note-button
  position: fixed
  bottom: 20px
  right: 25px
  font-weight: 700
  font-size: 30px
  padding: 6px 12px 10px
  border-radius: 10px
  transition: 0.15s
  cursor: pointer
  &.dark
    color: $bg-color-dark
  &.light
    color: $bg-color-light
  // gradient text color
  background: $gradient-color var(--x, 0)/ 200%
  &:hover
    --x: 80%