* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=button], input[type=submit] {
  cursor: pointer;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  font-family: system-ui, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#root, .wrapper {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: relative;
  transition: 0.15s;
}
.wrapper.dark {
  background: #202124;
}
.wrapper.light {
  background: #FFF;
}

header {
  transition: 0.15s;
  border-bottom: 1px solid;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
header.dark {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}
header.light {
  border-bottom-color: #e0e0e0;
}

main {
  transition: 0.15s;
  flex: 1 1 auto;
}
main.dark {
  background: #202124;
}
main.light {
  background: #FFF;
}

.theme-image {
  -o-object-fit: fill;
     object-fit: fill;
}
.theme-image.dark {
  width: 32px;
  height: 32px;
}
.theme-image.light {
  width: 40px;
  height: 40px;
}

.avatar {
  border-radius: 50%;
}
.avatar.dark {
  color: #FFF;
}

.notes-container {
  display: grid;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 15px;
}
@media (max-width: 1920px) {
  .notes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .notes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .notes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.notes-container__text {
  position: absolute;
  font-size: 1.875rem;
  line-height: 2.25rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.notes-container__text.dark {
  color: white;
}
.notes-container__text.light {
  color: black;
}

.note {
  border-radius: 10px;
  padding: 8px 10px;
  transition: 0.15s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}
.note-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}
.note-container-dnd {
  overflow: hidden;
}
.note-dots-menu {
  height: 100%;
  cursor: grab;
}
.note__text-container {
  width: 100%;
}
.note__text-container__two-items {
  display: flex;
}
.note__text-container__two-items > img {
  height: 20px;
}
.note__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.note__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  height: 24px;
  width: 100%;
}
.note__description {
  font-size: 16px;
  width: 100%;
  height: 20px;
  flex: 1 0 100%;
}
.note__expiresAt {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
  background: linear-gradient(45deg, hsl(319, 82%, 52%) 0%, hsl(0, 94%, 52%) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note:hover {
  cursor: pointer;
}
.note.dark {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.note.dark:hover {
  background: #323438;
}
.note__title.dark, .note__description.dark {
  color: #FFF;
}
.note.light {
  border: 1px solid #e0e0e0;
}
.note.light:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.note__title.light, .note__description.light {
  color: #202124;
}

.add-note-button {
  display: flex;
  position: fixed;
  z-index: 0;
  bottom: 20px;
  right: 25px;
}
.add-note-button__internal-container {
  font-weight: 700;
  font-size: 30px;
  padding: 6px 12px 10px;
  border-radius: 10px;
  transition: 0.15s;
  cursor: pointer;
  background: linear-gradient(45deg, hsl(319, 82%, 52%) 0%, hsl(0, 94%, 52%) 100%) var(--x, 0)/200%;
}
.add-note-button__internal-container.dark {
  color: #202124;
}
.add-note-button__internal-container.light {
  color: #FFF;
}
.add-note-button__internal-container:hover {
  --x: 80%;
}

.dialog-fields-container {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 40px;
  grid-template-rows: 40px 100%;
}
.dialog-cross.dark {
  color: #FFF;
}
.dialog-cross.light {
  color: #202124;
}
.dialog-textarea {
  overflow: auto;
  resize: none;
  width: 100%;
  border: 1px solid;
}
.dialog-textarea.dark {
  color: #FFF;
  border-color: rgba(255, 255, 255, 0.3);
}
.dialog-textarea.light {
  color: #202124;
  border-color: #e0e0e0;
}
.dialog-title {
  grid-column: 1/span 1;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
}
.dialog-calendar {
  grid-column: 2/span 1;
  padding: 0;
}
.dialog-calendar-button {
  height: 40px;
  width: 40px;
  border: 1px solid;
}
.dialog-calendar-button.dark {
  border-color: rgba(255, 255, 255, 0.3);
}
.dialog-calendar-button.light {
  border-color: #e0e0e0;
}
.dialog-calendar-icon {
  height: 30px;
  width: 30px;
}
.dialog-calendar-icon.disabled {
  cursor: auto;
}
.dialog-description {
  grid-column: 1/span 2;
  height: 150px;
  font-size: 16px;
}
.dialog-header.dark, .dialog-select-button.dark {
  color: #FFF;
}
.dialog-header.light, .dialog-select-button.light {
  color: #202124;
}
.dialog-popover-content.dark {
  background: #202124;
  color: #FFF;
}
.dialog-popover-content.light {
  background: #FFF;
  color: #202124;
}
.dialog-switcher-label.dark {
  color: #FFF;
}/*# sourceMappingURL=App.css.map */