* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=button], input[type=submit] {
  cursor: pointer;
}

body {
  flex: 1 0 2000px;
}

#root, .wrapper {
  height: 100%;
  width: 100%;
}

.wrapper {
  transition: 0.15s;
}
.wrapper.dark {
  background: #202124;
}
.wrapper.light {
  background: #FFF;
}

header {
  min-height: 50px;
  border-bottom: 1px solid;
}
header.dark {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}
header.light {
  border-bottom-color: #e0e0e0;
}

.theme-image {
  -o-object-fit: fill;
     object-fit: fill;
}
.theme-image.dark {
  width: 32px;
  height: 32px;
}
.theme-image.light {
  width: 40px;
  height: 40px;
}

.avatar {
  border-radius: 50%;
}
.avatar.dark {
  color: #FFF;
}

.notes-container {
  display: grid;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
@media (max-width: 1920px) {
  .notes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .notes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .notes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.note {
  font-family: system-ui, sans-serif;
  border-radius: 10px;
  color: white;
  padding: 8px 10px;
  overflow: hidden;
  transition: 0.15s;
}
.note__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  height: 24px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
.note__description {
  font-size: 16px;
  width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  flex: 1 0 100%;
}
.note__expiresAt {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
}
.note:hover {
  cursor: pointer;
}
.note.dark {
  background: #202124;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.note.dark > .note__title {
  color: white;
}
.note.dark > .note__description {
  color: white;
}
.note.dark > .note__expiresAt {
  color: #FF6B6B;
}
.note.dark:hover {
  background: #323438;
}
.note.light {
  border: 1px solid #e0e0e0;
}
.note.light > .note__title {
  color: #2B323B;
}
.note.light > .note__description {
  color: #2B323B;
}
.note.light > .note__expiresAt {
  color: #FF6B6B;
}
.note.light:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=App.css.map */